/* src/styles/fonts.css or public/fonts.css */
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500; /* Adjust as needed */
  font-style: normal; /* Adjust as needed */
}
